
.card {
  max-width: 600px;
  background-color: rgb(241, 241, 241);
  padding: 5px 20px;
  box-sizing: border-box;
  border-radius: 30px;

  &-title {
      display: flex;
      justify-content: center;
      font-size: 30px;
      background-color: rgb(56, 56, 56);
      color: rgb(241, 241, 241);
      padding: 5px;
      margin: 15px;
      border-radius: 25px;
    
  }

  .information-table-card {
    width: 500px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
  }

  &-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px 5px;
    margin: 15px;
    border-radius: 2.5px;
    background-color: rgb(206, 206, 206);

    li {
      width: 80px;
      font-size: 16px;
      font-weight: 500;
    }

    .card-exercise {
      width: 110px;
      font-weight: 600;
    }
  }
}
